.testimonial{
	background-color: rgba(255,255,255,.8);
	padding: 0 1.8125rem 1.0px 1.8125rem;

	&__photo{
		border-radius: 80px;
		overflow: hidden;
		width: 160px;
		height: 160px;
		border:6px solid rgba(255,255,255,0.8);
		margin:0 auto -80px auto;
		position: relative;
		top: -80px;
	}
}